.footer {
  padding: 20px 5px;
  background-color: #333333;
  color: #bcb2b1;
  li {
    font-size: 40px;
    margin: 0px 5px;
  }
  a {
    color: #bcb2b1;
    &:hover {
      color: $fuchsia-pink;
    }
  }
}
