.footer {
  padding: 20px 5px;
  background-color: #333333;
  color: #bcb2b1;
}

.footer li {
  font-size: 40px;
  margin: 0px 5px;
}

.footer a:hover {
  color: #c66255;
}

.footer a {
  color: #bcb2b1;
}
